node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/




ios
android/.gradle/
android/app/build/
ios/build/

# Local machine settings
android/local.properties

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
google-services.json